<template ref="child">
  <div v-if="visible" @click="hello">{{remindMsg}}</div>
</template>
<script>
export default {
  data () {
    return {
      // remindMsg: '',
      // visible: true
    }
  },
  methods: {
    hello() {
      alert(11)
    }
  }
}
</script>
