<template>
  <div class="col-full push-top">
    <h1>
      Create new thread in
      <i>{{forum.name}}</i>
    </h1>

    <!-- <form @submit.prevent="save">
      <div class="form-group">
        <label for="thread_title">Title:</label>
        <input v-model="title" type="text" id="thread_title" class="form-input" name="title">
      </div>

      <div class="form-group">
        <label for="thread_content">Content:</label>
        <textarea
          v-model="text"
          id="thread_content"
          class="form-input"
          name="content"
          rows="8"
          cols="140"
        ></textarea>
      </div>

      <div class="btn-group">
        <button class="btn btn-ghost" @click.prevent="cancel">Cancel</button>
        <button class="btn btn-blue" type="submit" name="Publish">Publish</button>
      </div>
    </form> -->
    <ThreadEditor
      @save="save"
      @cancel="cancel"
    />
  </div>
</template>


<script>
import ThreadEditor from '@/components/ThreadEditor'
export default {
  components: {
    ThreadEditor
  },
  props: {
    forumId: {
      type: String,
      required: true
    }
  },
  computed: {
    forum() {
      return this.$store.state.forums[this.forumId]
    }
  },
  methods: {
    save({title, text}) {
      //dispatch action
      const forumId = this.forum[".key"];
      this.$store.dispatch("createThread", { title, text, forumId })
        .then(thread => {
          this.$router.push({name: 'ThreadShow', params: {id: thread['.key']}})
        })
    },
    cancel() {
      const forumId = this.forum[".key"];
      this.$router.push({name: 'Forum', params: {id: forumId}})
    }
  }
};
</script>

<style scoped>
</style>
