<template>
  <div class="col-large push-top">
    <h1>
      {{thread.title}}
      <router-link
        :to="{name: 'ThreadEdit', id: this.id}"
        class="btn-green btn-small"
        tag="button"
      >
        Edit Thread
      </router-link>
    
    </h1>
    <p>
      By <a href="#" class="link-unstyled">{{user.name}}</a>, <AppDate :timestamp="thread.publishedAt"/>.
      <span style="float:right; margin-top: 2px;" class="hide-mobile text-faded text-small">{{repliesCount}} replies by {{contributorsCount}} contributors</span>

      <!-- <span style="float:right; margin-top: 2px;" class="hide-mobile text-faded text-small">3 replies by 3 contributors</span> -->
    </p>
    <PostList :posts="posts"/>  
    <PostEditor 
      @save-post="addPost"
      :threadId="this.id"
      />  
  </div>
</template>


<script>
import PostList from '@/components/PostList'
import PostEditor from '@/components/PostEditor'
import {getUniqueItems} from '@/utils'
export default {
  props: {
    id: {
      required: true,// 这个参数必须存在。
      type: String,// 参数类型
    }
  },
  components: {
    PostList,
    PostEditor
  },
  // data () {
  //   return {
  //     thread: this.$store.state.threads[this.id], //这里不用this.$store.state.threads[this.$route.params.id]取，是为了解藕
  //   }
  // },
  computed: {
    posts () {
      const postIds = Object.values(this.thread.posts);
      return Object.values(this.$store.state.posts).filter(post => postIds.includes(post['.key']))
    },
    thread () {
      return this.$store.state.threads[this.id]
    },
    repliesCount () {
      return this.$store.getters.threadRepliesCount(this.thread['.key'])
    },
    user () {
      return this.$store.state.users[this.thread.userId]
    },
    contributorsCount () {
      // find the replies
      const replies = Object.keys(this.thread.posts)
        .filter(postId => postId !== this.thread.firstPostId)
        .map(postId => this.$store.state.posts[postId])
      // get the user ids
      const userIds = replies.map(post => post.userId)
      // count the unique ids
      // return userIds.filter((item, index) => index === userIds.indexOf(item)).length
      return getUniqueItems(userIds).length
    },

  },
  methods: {
    // addPost (eventData) {
    //   // console.log(eventData)
       
    //   const post = eventData.post;
    //   const postId = eventData.post['.key'];
    //   this.$set(this.$store.state.posts, postId, post);
    //   this.$set(this.thread.posts, postId, postId);
    //   this.$set(this.$store.state.users[post.userId].posts, postId, postId)
    // },
    //用解构写法增加可读性
    addPost ({post}) {
      this.$store.dispatch('createPost', post)
      // const postId = post['.key'];
      // this.$set(this.$store.state.posts, postId, post);
      // this.$set(this.thread.posts, postId, postId);
      // this.$set(this.$store.state.users[post.userId].posts, postId, postId)
    }
  },
}
// :value="newPostText"
// @input="newPostText = $event.target.value"
// v-model语法糖
</script>

<style scoped>

</style>

