<template>
  <span 
    :title="timestamp | humanFriendlyDate"  
  >
    {{timestamp | diffForHumans}}
  </span>
</template>



<script>
  import moment from 'moment' // moment.js 体积庞大是因为里面有近百种语言包
  export default {
    props: {
      timestamp: {
        required: true,
        type: Number
      }
    },
    filters: {
      humanFriendlyDate (date) {
        return moment.unix(date).locale('el').format('MMMM Do YYYY, h:mm:ss a')
      },
      diffForHumans (date) {
        return moment.unix(date).fromNow()
      }
    }
  }
</script>



<style scoped>

</style>


