<template>
  <form @submit.prevent="save">
    <div class="form-group">
      <textarea name id cols="30" rows="10" class="form-input" v-model="text"></textarea>
    </div>
    <div class="form-actions">
      <button v-if="isUpdate" @click.prevent="cancel" class="btn btn-ghost">Cancel</button>
      <button class="btn-blue">Submit post</button>
    </div>
  </form>
</template>



<script>
  export default {
    data () {
      return {
        text: this.post ? this.post.text : ''
      }
    },
    props: {
      threadId: {
        required: false,
        type: String
      },
      post: {
        type: Object
      }
    },
    computed: {
      isUpdate() {
        return !!this.post
      }
    },
    methods: {
      save () {
        this.persist()
          .then(post => {
            this.$emit('save', {post})
          })
      },
      cancel() {
        this.$emit('cancel')
      },
      create() {
        const post = {
          text: this.text,
          threadId: this.threadId,
        }
        this.text = ''// 清空
        return this.$store.dispatch('createPost', post)
      },
      update() {
        const payload = {
          id: this.post['.key'],
          text: this.text
        }
        return this.$store.dispatch('updatePost', payload)
      },
      persist () {
        return this.isUpdate ? this.update() : this.create()
      }
      // save () {
      //   // const postId = 'greatPost' + Math.random();
      //   const post = {
      //     text: this.text,
      //     // publishedAt: Math.floor(Date.now()/1000), // Math.floor 向下取整计算
      //     threadId: this.threadId,
      //     // userId: 'jUjmgCurRRdzayqbRMO7aTG9X1G2',// 先写死
      //     // '.key': postId
      //   }

      //   //如下赋值是非响应式的。所以不用。
      //   // sourceData.posts[postId] = post; //data里的数据是更新的，但是视图不会更新。用完$set视图才会更新
      //   // this.thread.posts[postId] = postId;
      //   //  Vue.set(target, key, value) 用$set才能
      //   // this.$set(sourceData.posts, postId, post);
      //   // this.$set(this.thread.posts, postId, postId);
      //   // this.$set(sourceData.users[post.userId].posts, postId, postId)
      //   // console.log(sourceData.posts, this.thread.posts);
      //   this.text = ''// 清空
      //   // this.$emit('save-post', {post})
      //   this.$store.dispatch('createPost', post)
      // }
    },
  }
</script>

<style scoped>
</style>


