<template>
  <div class="thread">
    <div>
      <p>
        <!-- 用如下方法后，点击后退 会刷新页面，破坏用户体验，所以要使用router-->
        <!-- <a :href="`/thread/${thread['.key']}`">{{thread.title}}</a> -->
        <!-- 默认是a标签 -->
        <!-- <router-link :to="`/thread/${thread['.key']}`"> -->
        <!-- 用name跳转的好处在于 route的路径path可以任意去做调整 -->
        <router-link :to="{name: 'ThreadShow', params: {id: thread['.key']}}">
          {{thread.title}}
        </router-link>
      </p>
      <p class="text-faded text-xsmall">
        By <a href="#">{{user.name}}</a>,<AppDate :timestamp="thread.publishedAt"/>.
      </p>
    </div>

    <div class="activity">
      <p class="replies-count">
        {{repliesCount}} replies
      </p>

      <!--<img class="avatar-medium" src="http://i0.kym-cdn.com/photos/images/facebook/000/010/934/46623-batman_pikachu_super.png" alt="">-->

      <!--<div>-->
        <!--<p class="text-xsmall">-->
          <!--<a href="#">Bruce Wayne</a>-->
        <!--</p>-->
        <!--<p class="text-xsmall text-faded">2 hours ago</p>-->
      <!--</div>-->
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      thread: {
        required: true,
        type: Object
      }
    },
    computed: {
      repliesCount () {
        return Object.keys(this.thread.posts).length - 1
      },
      user () {
        return this.$store.state.users[this.thread.userId]
      }
    }
  }
</script>