<template>
  <div id="app">
    <TheNavBar/>
    <div class="container">
      <router-view/>
    </div>
  </div>
</template>

<style scoped>
@import url(./assets/css/style.css);
</style>

<script>
import axios from "axios";
import showAlert from "@/dialog/dialog"
showAlert('hello world')
// 环境的切换
if (process.env.NODE_ENV == "development") {
  axios.defaults.baseURL = "/api";
} else if (process.env.NODE_ENV == "debug") {
  axios.defaults.baseURL = "";
} else if (process.env.NODE_ENV == "production") {
  axios.defaults.baseURL = process.env.VUE_APP_BaseUrl;
}
import TheNavBar from '@/components/TheNav'
export default {
  // mounted() {
  //   axios
  //     .get("OnlineCustomerConfig.do")
  //     .then(function(response) {
  //       // handle success
  //       console.log(response);
  //     })
  //     .catch(function(error) {
  //       // handle error
  //       console.log(error);
  //     })
  //     .then(function() {
  //       // always executed
  //     });
  // }
  components: {
    TheNavBar
  },
  mounted() {
    // const test = this.$showAlert('hello')
  },
};
</script>
